@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body {
  font-family: "Merriweather";
  /* background-color: rgb(11, 76, 92); */
  background-color: #bc6c25;
}
.header_inner {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.logo:hover {
  color: rgb(240, 234, 227);
}
.current_region {
  color: #fff;
  font-weight: 500;
}
.current_card {
  padding: 20px;
  width: 300px;
  font-size: 20px;
  /* color: rgb(240, 234, 227); */
  color: #fefae0;
  border-radius: 10px;
  /* background-color: rgba(147, 186, 196, 0.438); */
  background-color: #d4a373;
}
.current_day {
  font-size: 30px;
}
.form {
  margin-top: 20px;
}
.hero {
  padding-top: 30px;
  padding-bottom: 50px;
}
.prayer_list_item {
  padding: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: #fefae0;
}
.weekly_title_card {
  margin-bottom: 50px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  color: #fefae0;
  background-color: #dda15e;
  border-radius: 6px;
}

.weekly_table {
  width: 900px;
  background-color: #fefae0;
}
.weekly_table th {
  padding: 10px 60px;
  font-weight: 700;
  font-size: 19px;
  border: 1px solid rgb(158, 155, 155);
}
.weekly_table td {
  padding: 10px 30px;
  text-align: center;
  border: 1px solid rgb(158, 155, 155);
}

.monthly_title_card {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  color: #fefae0;
  background-color: #dda15e;
  border-radius: 6px;
}

.monthly_table {
  width: 900px;
  background-color: #fefae0;
  border: 1px solid rgb(158, 155, 155);
}
.monthly_table th {
  padding: 14px 60px;
  font-weight: 700;
  font-size: 19px;
  border: 1px solid rgb(158, 155, 155);
}
.monthly_table td {
  padding: 10px 30px;
  text-align: center;
  border: 1px solid rgb(158, 155, 155);
}
