@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body {
  font-family: "Merriweather";
  /* background-image: url("./images/images\ \(2\).jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  background-color: rgb(11, 76, 92);
}
.header_inner {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 40px;
  font-weight: 600;
  color: rgb(240, 234, 227);
}
.logo:hover {
  color: rgb(240, 234, 227);
}
.current_region {
  color: rgba(240, 234, 227, 0.829);
}
.current_card {
  padding: 20px;
  width: 300px;
  font-size: 20px;
  color: rgb(240, 234, 227);
  border-radius: 10px;
  background-color: rgba(147, 186, 196, 0.438);
}
.current_day {
  font-size: 30px;
}
.form {
  margin-top: 20px;
}
.hero {
  padding-top: 30px;
}
.prayer_list_item {
  padding: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: rgba(240, 234, 227, 0.726);
}
.weekly_title_card {
  margin-bottom: 50px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  color: rgb(238, 235, 231);
  background-color: rgba(147, 186, 196, 0.171);
  border-radius: 6px;
}

.weekly_table {
  width: 900px;
  background-color: rgba(147, 186, 196, 0.438);
  border: 1px solid white;
}
.weekly_table th {
  padding: 10px 60px;
  font-weight: 700;
  font-size: 19px;
  border: 1px solid white;
}
.weekly_table td {
  padding: 10px 30px;
  text-align: center;
  border: 1px solid white;
}

.monthly_title_card {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  color: rgb(238, 235, 231);
  background-color: rgba(147, 186, 196, 0.171);
  border-radius: 6px;
}

.monthly_table {
  width: 900px;
  background-color: rgba(147, 186, 196, 0.438);
  border: 1px solid white;
}
.monthly_table th {
  padding: 10px 60px;
  font-weight: 700;
  font-size: 19px;
  border: 1px solid white;
}
.monthly_table td {
  padding: 10px 30px;
  text-align: center;
  border: 1px solid white;
}
